@use '../styles/vars' as v;
/* 
body {
//background-image: url('../../components/assets/fonts/bg.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin-top:1em;

//
} */
.app {
padding: 0;
margin: 0;
box-sizing: border-box;
min-height: 100vh;
max-width: 100vw;
font-family: v.$poppins;
/* background: v.$bg-light; */

}

img {
  width: 100%; 
  border-radius: 8px;
  object-fit: contain;  // s'adapter à son conteneur en utilisant sa width et sa height.
}