@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');
// Background
$bg-light: #fbfbfb;
$bg-dark: #f1f1f1;
// yume 
$light-color: #fff;
$black-color: #666;

// Text color
$light-grey : #595959;

//font-size
$gutter: 1rem;
$poppins: 'Poppins', sans-serif;